<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/isStudiedInInstitute.css">
</head>

<body>
    <div id="btnnn1">
        <a href="/exstudentinfo"><button class="button-68" id="btn1">دارم توی زبان سرا درس میخونم</button></a>
    </div>
    <div>
        <a href="/personalinfo"><button class="button-68" id="btn2">تازه میخوام ثبت نام کنم</button></a>
    </div>
</body>

</html>